<div class="row">
    <h2 class="col-12 text-center" style="margin-bottom:2vh">Explore</h2>
    <div class="mx-auto col-10">
        {{#each posts as |post|}}
        {{> post-info post}}
        {{/each}}
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                Popular Pages:
            </div>
        </div>
        <ul class="list-group list-group-flush">
            {{#each posts as |post|}}
            {{> user-info post}}
            {{/each}}
        </ul>
    </div>
</div>
