<div class="row">
    {{!-- <h2 class="col-12 text-center header-spacing brand-name">Explore</h2> --}}
    <div class="card text-center popular-pane dissapear col-2 small-margin" style="padding:0">
        <div class="card-body">
            <p class="card-text popular-title" style="margin-bottom:0">Popular</p>
            <ul id = "user-ctn" class="list-group list-group-flush">
                {{!-- list of popular users goes here --}}
            </ul>
        </div>
    </div>
    <div class="mx-auto col-md-10 col-12 small-margin" style="margin-left: 40px">
        {{#if loggedIn}}
        <div class="card" style="margin-bottom: 1vh">
            <div class="card-body">
                <form class="form-inline"> {{!-- <p>New Post</p> --}} 
                    <button class="col-10 form-control replace text-left">Create Post</button>
                    {{!-- <textarea name="post-body" class="col-12 form-control" placeholder="Post Body" style="margin-top: 5px"></textarea> --}}
                    <button id="new-post-btn" class="btn col-1 mb-2" style="margin-top: 5px; margin-left: 10px">
                        <span class="oi oi-pencil"></span>
                    </button>
                </form>
            </div>
        </div>
        {{/if}}
        {{#each posts as |post|}}
        {{> post-info post}}
        {{/each}}
    </div>
</div>
<script src="/javascript/post-redirect.js"></script>
<script src="/javascript/popular.js"></script>
<script src="/javascript/upvote.js"></script>
{{!-- <script src="./javascript/add-post.js"></script> --}}
