<div class="row">
    {{!-- <h2 class="col-12 text-center header-spacing brand-name">Explore</h2> --}}
    <div class="card text-center popular-pane dissapear col-2" style="padding:0">
        <div class="card-body">
            <p class="card-text">Popular</p>
            <ul id = "user-ctn" class="list-group list-group-flush">
                {{!-- list of popular users goes here --}}
            </ul>
        </div>
    </div>
    <div class="mx-auto col-md-10 col-12" style="margin-left: 40px; margin-top:2vh">
        <div class="card" style="margin-bottom: 1vh">
            <div class="card-body">
                <form class="form-inline"> {{!-- <p>New Post</p> --}} 
                    <input name="post-title" class="col-10 form-control" placeholder="Create Post" href="/newpost"></input>
                    {{!-- <textarea name="post-body" class="col-12 form-control" placeholder="Post Body" style="margin-top: 5px"></textarea> --}}
                    <a id="new-post-btn" class="btn col-1 mb-2" style="margin-top: 5px; margin-left: 10px" href="/newpost">
                        <span class="oi oi-pencil"></span>
                    </a>
                </form>
            </div>
        </div>
        {{#each posts as |post|}}
        {{> post-info post}}
        {{/each}}
    </div>
    {{!-- this is the tabbable section --}}
    {{!-- <div class="card text-center col-6" style="padding:0">
        <div class="card-header">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="popular-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Popular</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="weather-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Weather</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="popular-tab">
                    this is home
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="weather-tab">
                    this is profile
                </div>
            </div>
        </div>
    </div> --}}
</div>

<script src="../public/javascript/tab-functionality.js"></script>
<script src="../public/javascript/popular.js"></script>
