<div class="row">
    <div class="mx-auto col-5">
    <form>
        <h3 style="margin-bottom:2vh">Login</h3>
        <div class="form-group"> 
            <label for="email-login">Email:</label>
            <input type="text" id="email-login" class="form-control" placeholder="Enter Email"/>
        </div>
        <div class="form-group">
            <label for="password-login">Password:</label>
            <input type="text" id="Password-login" class="form-control" placeholder="Enter Password"/>
            <small class="form-text text-muted">Password must be 8 characters long</small>
        </div>
        <button class="btn bg-primary text-light" type="submit">Login</button>
        <div style="margin-top:4vh">
            <p>New User?</p>
            <a class="btn bg-primary text-light" type="submit" href="/signup">Sign Up</a>
        </div>
    </form>
    </div>
</div>