<div class="row">
    <div class="card mx-auto col-12 col-md-5 small-margin">
        <div class="card-body">
            <form class="login-form">
                <h3 class="header-spacing brand-name">Login</h3>
                <div class="form-group">
                    <label for="email-login">Email:</label>
                    <input type="text" id="email-login" class="form-control" placeholder="Enter Email" />
                </div>
                <div class="form-group">
                    <label for="password-login">Password:</label>
                    <input type="password" id="password-login" class="form-control" placeholder="Enter Password" />
                    <small class="form-text text-muted">Password must be 8 characters long</small>
                </div>
                <div>                
                    <button class="btn" type="submit">Login</button>
                </div>
            </form>
            <div style="margin-top:4vh">
                    <p>New User?</p>
                    <a class="btn" type="submit" href="/signup">Sign Up</a>
                </div>
        </div>
    </div>
</div>

<script src="./javascript/login.js"></script>