<div class="row">
    <div class="card mx-auto col-12 col-md-5 small-margin" style="margin-top: 2vh">
        <div class="card-body">
            <form class="signup-form">
                <h3 class="header-spacing brand-name">Sign Up</h3>
                <div class="form-group">
                    <label for="email-signup">Email:</label>
                    <input type="text" id="email-signup" class="form-control" placeholder="Enter Email" />
                </div>
                <div class="form-group">
                    <label for="username-signup">Username:</label>
                    <input type="text" id="username-signup" class="form-control" placeholder="Enter Username" />
                </div>
                <div class="form-group">
                    <label for="password-signup">Password:</label>
                    <input type="password" id="password-signup" class="form-control" placeholder="Enter Password" />
                    <small class="form-text text-muted">Password must be 8 characters long</small>
                </div>
                <div>
                    <button class="btn" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="./javascript/signup.js"></script>