<div class="spacing-for-nav" style="margin-top: 10vh">
    <div class="mx-auto col-md-10 col-11 small-margin" style="margin-left: 40px;">
        {{#each posts as |post|}}
        {{> post-info post}}
        {{/each}}
    </div>
</div>