<div class="spacing-for-nav" style="margin-top: 14vh">
    <div class="mx-auto col-md-10 col-11 small-margin" style="margin-left: 40px;">
        {{#each posts as |post|}}
        {{> post-info post}}
        <div class="mx-auto col-12 col-md-10 mb-3">
            {{> comments post.comments }}
        </div>
        {{/each}}
    </div>
</div>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/upvote.js"></script>